@{
    ViewData["Title"] = "Home Page";
   
}


<style>
    body{
        background-image: url('../../img/bg.jpg');
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
    } 
</style>

   

    <div class="text-center">
        <h1 class="display-4" style="color: #fff; font-weight:700">Bem vindo 
            <img src="https://www.help.mycommerce.ch/uploads/QNMKJiZP/MyCOMMERCE_left_rgb.png" /></h1>
    <h2 style="color: darkorange; font-weight: 900;">Seu Sistema de compra na Web.</h2>
    </div>







