@*
   
*@
@{
    <h1 style="text-align:center">Menu</h1>

    <br />

    <div class="row" style="text-align: center">
        <div class="col-lg-4" >
        <div class="row">
                <a asp-area ="" asp-controller="Cliente" asp-action="Index">
                    <img src="/img/clientes.png" width="150" height="200"></a>
                <span>Cadastro de Clientes</span>
        </div>
       </div>
        <div class="col-lg-4">
            <div class="row">
             <a asp-area ="" asp-controller="Vendedor" asp-action="Index">
                    <img src="/img/vendedores.png" width="150" height="200">
                </a>
                <span>Cadastro de Vendedores</span>
        </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
             <a asp-area ="" asp-controller="Produto" asp-action="Index">
                <img src="/img/produtos.png" width="150" height="200">
                </a>
                <span>Cadastro de Produtos</span>
            </div>
        </div>
    </div>

    <br />

    <div class="row" style="text-align: center">
        <div class="col-lg-4">
            <div class="row">
             <a asp-area ="" asp-controller="Venda" asp-action="Index">
                <img src="/img/vendas.png" width="150" height="200">
                </a>
                <span>Registro de Vendas</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <a asp-area="" asp-controller="Relatorio" asp-action="Index">
                <img src="/img/relatorios.png" width="150" height="200"></a>
                <span>Relatórios</span>
            </div>
        </div>
        <div class="col-lg-4">
             <div class="row">
                <img src="/img/configuracoes.png" width="150" height="200">
                <span>Configurações</span>
        </div>
        </div>
    </div>
}
