@*
    
*@
@{

    <h1 align="center">My Commerce</h1>
    <p align="center">🚀 Sistema de Vendas (e-commerce) completo.</p>
    <div style="display: flex">
        <img src="https://simpleicons.org/icons/dotnet.svg" width="950" height="300" /> <p>- Desenvolvido em Aspnet MVC (.NET 7.0)</p>
    </div>
    <div style="display: flex">
        <img src="https://simpleicons.org/icons/mysql.svg" width="950" height="300" />  <p>Database: MySql</p>
    </div>
    <p style="text-align: center">Feito por Rafael V. Wierzba</p>
    <br />
    <div style="display: flex">
        <img src="https://simpleicons.org/icons/linkedin.svg" width="950" height="300" />
        <a href="https://www.linkedin.com/in/rvwierzba">
            https://www.linkedin.com/in/rvwierzba</a>
    </div>
    <div style="display: flex">
        <img src="https://simpleicons.org/icons/github.svg" width="950" height="300" /> <a href="https://www.github.com/rafaelwierzba">https://www.github.com/rafaelwierzba</a>
    </div>

    <br />
       
    <p style="text-align: center">Powered by: <a href="https://www.webting.com.br">WEBTING</a></p>
}
