
@{
    <h2>Produto Deletado com Sucesso!</h2>
    <button type="button" class="btn btn-primary" onclick="Voltar()">Lista de Produtos</button>

    <script>
        function Voltar(){
            window.location.href = '../../Produto/Index';
        }
    </script>
}
